main {
    height: 800px;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

h2,
h3 {
    margin: 0;
}

.status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: white;
    margin-right: 10px;
    margin-left: 0;
    border: 2px solid rgb(11, 191, 23);
}

.orange {
    background-color: #ff725d;
}

.blue {
    background-color: #6fbced;
    margin-right: 0;
    margin-left: 7px;
}

#chat {
    background-color: white;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    width: auto;
    height: auto;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#chat h2,
#chat h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

#chat h3 {
    color: #bbb;
}

#chat .entete {
    margin-bottom: 5px;
}

#chat .message {
    padding: 15px;
    color: #fff;
    line-height: 25px;
    max-width: 100%;
    display: inline-block;
    border-radius: 5px;
}

#chat .me {
    text-align: right;
}

#chat .you .message {
    background-color: #ffffff;
    color: rgb(35, 35, 35);
    border: 2px solid rgb(11, 191, 23);
}

#chat .me .message {
    background-color: #ffffff;
    color: rgb(35, 35, 35);
    border: 2px solid rgb(21, 135, 222);
}